<br/><br/><br/>
    <button (click)="addProductRouter()" class="btn btn-success">Add Product</button>
&nbsp;&nbsp;
    <input type="text" [(ngModel)]="ttlsearch" placeholder="title" (input)="getsearchdata(ttlsearch)" >
&nbsp;&nbsp;
    <input type="text" [(ngModel)]="search" placeholder="title,id" (input)="getsearchdata(search)">
&nbsp;&nbsp;
    <input type="text" [(ngModel)]="idsearch" placeholder="id" (input)="getsearchdata(idsearch)">
&nbsp;&nbsp;
    <button (click)="showCart()" class="btn btn-success">Cart</button>
<br/>
<br/> 
<table id="Product" class="table">
    <thead>
        <th>ID</th>
        <th>TITLE</th>
        <th>PRICE</th>
        <th>STOCK</th>
        <th></th>
        <th>Totle Cost</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Add To Cart</th>
    </thead>

    <!-- <ng-container *ngIf="idsearch; else elseTemplate1"> -->
        <tr *ngFor="let products of productDetails" >
            <td>{{products.id}}</td>
            <td>{{products.title}}</td>
            <td>{{products.price}}</td>
            <td>{{products.stock}}</td>
            <td>   
                <app-stock-update [stock]=products.stock [productDetail]="products" [component]="'productcomponent'" (updateStock)="updateProductStock();"></app-stock-update>
            </td> 
            <td>{{products.price*products.stock}}</td>
            <td><nav><button (click)="editproductRoute(products.id)" class="btn btn-primary">Edit</button></nav></td>
            <td><nav><button (click)="deleteRoute(products.id)" class="btn btn-secondary" >Delete</button></nav></td>
            <td><nav><button (click)="addToCart(products.id)" class="btn btn-info" >Add To Cart</button></nav></td>
        </tr>    
    <!-- </ng-container>

    <ng-template #elseTemplate1>
        <ng-container *ngIf="search ; else elseTemplate">
            <tr *ngFor="let products of productDetails | filter:['product_id','title']:search" >
                <td>{{products.product_id}}</td>
                <td>{{products.title}}</td>
                <td>{{products.price}}</td>
                <td>{{products.stock}}</td>
                <td>
                    <app-stock-update [stock]=products.stock [productDetail]="products" [component]="'productcomponent'" (updateStock)="updateProductStock();"></app-stock-update>
                </td> 
                <td>{{products.price*products.stock}}</td>
                <td><nav><button (click)="editproductRoute(products.product_id)" class="btn btn-primary">Edit</button></nav></td>
                <td><nav><button (click)="deleteRoute(products.product_id)" class="btn btn-secondary" >Delete</button></nav></td>
                <td><nav><button (click)="addToCart(products.product_id)" class="btn btn-info" >Add To Cart</button></nav></td>
            </tr>
        </ng-container>
        <ng-template #elseTemplate>
        <tr *ngFor="let products of productDetails | filter:['title']:ttlsearch" >
            <td>{{products.product_id}}</td>
            <td>{{products.title}}</td>
            <td>{{products.price}}</td>
            <td>{{products.stock}}</td>
            <td>
                <app-stock-update [stock]=products.stock [productDetail]="products" [component]="'productcomponent'" (updateStock)="updateProductStock();"></app-stock-update>
            </td> 
            <td>{{products.price*products.stock}}</td>
            <td><nav><button (click)="editproductRoute(products.product_id)" class="btn btn-primary">Edit</button></nav></td>
            <td><nav><button (click)="deleteRoute(products.product_id)" class="btn btn-secondary" >Delete</button></nav></td>
            <td><nav><button (click)="addToCart(products.product_id)" class="btn btn-info" >Add To Cart</button></nav></td>
        </tr>
        </ng-template>
    </ng-template> -->
    
        <thead>
            <th></th>
            <th>Total</th>
            <th>{{Totleprice}}</th>
            <th>{{Totlestock}}</th>
            <th></th>
            <th>{{Totleprice*Totlestock}}</th>
            <th></th>
            <th></th>
        </thead>
       
</table>